<!DOCTYPE html>
<html>
<head>
	<title>IPL Status</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
		.main-container{
			/*text-align: center;*/
			padding-top: 30px;
			width: 70%;
			margin: 0 auto;
		}
		.main-container a{
			line-height: 30px;
			text-decoration: none;
			color: black;
			font-size: 16px;
		}
	</style>
</head>
<body>
	<section class="main-container">
		<a href="noOfMatches">No Of Match Per Year</a><br>	
		<a href="winnerTeamPerYear">No of all winner in each year</a><br>	
		<a href="extraRunInEachTeam">Extra run in 2016</a>	<br>
		<a href="economicalBowlers">Top Economical Bowler in 2015</a><br>	
		<a href="strikerateOfBatsman">Top Strike rate Batsman in 2017</a>	
	</section>
</body>
</html>